#__next .custom-description dt {
  font-weight: 600;
  color: #000;
}

#__next .custom-description dd {
  font-weight: 300;
  color: #000;
}

#__next .home-about-profile {
  padding-right: 64pt;
}

#__next .header-link-selected {
  color: #111;
}

#__next .header-link {
  color: #888;
}
@media screen and (max-width: 650px) {
}

@media screen and (max-width: 900px) {
  #__next .home-about-profile {
    padding-right: 0;
  }
}

@media screen and (max-width: 1280px) {
}

@media screen and (max-width: 1920px) {
}

@media screen and (max-width: 10000px) {
}
